*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conatiner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}
nav{
    width:100%;
    height:40px;
    margin:20px;
    padding: 30px;
    
}
.gm{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link{
    display: flex;
    align-items: center;
    
}
.logo img{
    width:41px;
    height: 41px;
}
.link a{
    text-decoration: none;
    margin-left: 20px;
    font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 19.36px;
text-align: left;
color: #B8BECD;
}
.link button{
    width:132px;
    height: 44px;
    color: #FB8F1D;
   border-radius: 8px;
   margin-left: 20px;
   border: 2px solid #FB8F1D;
   background-color: white;
   transition: 0.5s;
}
.btn2{
    background-color: #FB8F1D !important;
    color: white !important;
}

.link a:hover{
    color: #202336;
}


.btn1:hover{
    background-color: #FB8F1D;
    color: white;

}
.btn2:hover{
    background-color: white !important;
    color: #FB8F1D !important;
}
/* header */
.aa img{
    width: 500px;
    height: 500px;
}
.aa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.aa h1{
    font-family: Playfair Display;
font-size: 64px;
font-weight: 700;
line-height: 80px;
text-align: left;
border-bottom: 50px;
color: #202336;

}

.aa h3{
    font-family: Inter;
font-size: 22px;
font-weight: 600;
line-height: 26.63px;
text-align: left;
color: #202336;
margin-top: 90px;
margin-bottom: 30px;
}

.select{
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
select{
    margin: 10px;
    width: 140px;
height: 32px;

gap: 0px;
border-radius: 6px 0px 0px 0px;
border: 0.8px 0px 0px 0px;
opacity: 0px;
font-size: 10px;
color: #B8BECD;

}
.aa button{
    width:132px;
    height: 44px;
    color: white;
   border-radius: 8px;
   margin-left: 20px;
   border: 2px solid #FB8F1D;
   background-color: #FB8F1D;
   transition: 0.5s;
   margin-top: 40px;
}
.aa button:hover{
    background-color: white;
    color: #FB8F1D;
}
/* header2 */

.bb img{
    width: 450px;
    height: 450px;
}
.bb{
    margin-top: 100px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.text *{
    margin-bottom: 20px;
}
.text h1{
    font-family: Playfair Display;
font-size: 27px;
font-weight: 700;
line-height: 50px;
text-align: left;
color: black;
}
.text p{
    max-width: 400px;
    font-family: Mulish;
font-size: 17px;
font-weight: 300;
line-height: 30px;
text-align: left;
color: #7D7987;
}
.text button{
    width:132px;
    height: 44px;
    color: white;
   border-radius: 8px;
   margin-left: 20px;
   border: 2px solid #FB8F1D;
   background-color: #FB8F1D;
   transition: 0.5s;
   margin-top: 40px;
}
.text{
    margin-left: 100px;
}
.text button:hover{
    background-color: white;
    color: #FB8F1D;
}
/* header3 */

.dd{
    
    margin-top: 50px;
    padding: 50px;
    

}
.dd img{
    width: 260px;
    height: 330px;
    margin-left: 10px;
}
.pr{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pr h1{
    margin-left: 100px;
    font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 50px;
text-align: left;

}
.pr p{
    margin-right: 90px;
    font-family: "Inter";
font-size: 17px;
font-weight: 600;
line-height: 60px;
text-align: left;
color: #FB8F1D;
transition: 0.3s;

}
/* header4 */
.cc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
    padding: 30px;
}
.cc img{
    width: 370px;
    height: 470px;
    
}
.tx img{
    width: 190px;
    height: 24px;
    margin-top: 100px;
    margin-bottom: 30px;
}
.tx h1{
 font-family: Playfair Display;
font-size: 36px;
font-weight: 700;
line-height: 50px;


color: black;



}
.tx{
    max-width: 400px;
   

}
.tx p{
    margin-bottom: 30px;
    font-family: Mulish;
font-size: 17px;
font-weight: 400;
line-height: 36px;
text-align: left;

}
.tx h3{
    font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 48px;
text-align: left;

margin-bottom: 20px;

}
/* header5 */
.aa1 img{
    width: 261px;
    height: 300px;
    
}
.aa1{
   width: 270px;
    margin: 10px;
}
.crd{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.aa1 h2{
    font-family: Inter;
font-size: 15px;
font-weight: 700;
line-height: 30px;
text-align: left;
margin-bottom: 20px;
}

.aa1 p{
    font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 26px;
text-align: left;
margin-bottom: 20px;
}
.aa1 button {
    color: #FB8F1D;
    font-family: Inter;
font-size: 15px;
font-weight: 600;
line-height: 28px;
text-align: left;
border: none;
transition: 0.3s;
background-color: white;

}
.pr p:hover{
    font-size: 22px;
    color: #7D7987;
    cursor: pointer;
}
.aa1 button:hover{
    width: 130px;
    
    background-color: #FB8F1D;
    color: white;
    text-align: center;
    border-radius: 5px;
}
/* foter */
footer{
     background-color: #F9F9FB;
}
.ff{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
   
}
.brnc{
    
    margin-left: 30px;
    margin-right: 100px;
}
.brnc img{
    width: 44px;
    height: 44px;
    margin-bottom: 30px;
}
.p{
    max-width: 300px;
    margin-bottom: 70px;
}
.brnc p{
    font-family: Mulish;
font-size: 18px;
font-weight: 300;
line-height: 28px;
text-align: left;
color: #848484;

}
.kartalar{
    display: flex;
}
.crt{
    font-family: Mulish;
font-size: 14px;
font-weight: 300;
line-height: 38px;
text-align: left;
color: #848484;
margin-left: 50px;
}
.rasmlar{
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 500px;
    background-color: #F9F9FB;
    width: 100%;
}
.tw{
    width: 25px;
    height: 20px;
    
    margin-left: 30px;
}
.f{
    width: 10px;
    height: 22px;
    margin-left: 30px;
}
.in{
    width: 22px;
    height: 22px;
    margin-left: 30px;
}
.ins{
    width: 23px;
    height: 22px;
    margin-left: 30px;
}
.yt{
    width: 28px;
    height: 20px;
    margin-left: 30px;
}



